.heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-icon{
    font-size: 3rem;
}

.post-icon-delete{
    margin-right: 30px;
}

.button-delete{
    margin-bottom: 30px;
}

.card-custom{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}