.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-top: 30px;
}
.header-back{
    height: 100% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.header-back-icon{
    font-size: 3rem;
    margin-right: 10px;
}

.header-back-text{
    margin-top: -6px
}