.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header-back{
    display: flex;
    align-items: center;
}
.header-back-icon{
    font-size: 3rem;
    margin-right: 10px;
}